{% extends "layout.html" %}
{% from 'layout.html' import navbar2, myscripts, err %}

{% block title %}LLIN.::.Warehouse{% endblock%}
{% block stylesheets %}
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/js/Buttons-1.1.2/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="/static/js/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet">
{% endblock %}
{% block nav %}
    {% call navbar2() %}
        <li><a href="/dashboard" class="">Dashboard</a></li>
        <li><a href="/reporters" class="">Reporters</a></li>
        <li><a href="/distributionpoints" class="">Distribution Points</a></li>
        <li><a href="/warehousedata" class="active">Warehouse Log</a></li>
        <li><a href="/dispatch" class="">Dispatch</a></li>
       <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control Panel <b class="caret"></b></a>
           <ul class="dropdown-menu">
             <li><a href="/reports" class="active">Reports</a></li>
             <li class="divider"></li>
             <li class="nav-header">Admin Panel</li>
             <li><a href="/groups">Groups</a></li>
             <li><a href="/users">Users</a></li>
             <li><a href="/settings">Settings</a></li>
           </ul>
       </li>
    {% endcall %}
{% endblock %}

{% block content %}
    {{ err(err_msg)}}
    <div class="alert alert-error hide fade in" id="error_div">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <p class="text-error" id="text-error"></p>
    </div>
    <div>
        <filedset>
        <legend>National LLIN Delivery Log</legend>
    <form name="" id="wform" method="post" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <table>
            <tr>
                <td>
                    <table>
            <tr>
                <td><label for="po_number">PO Number:</label></td>
                <td><input name="po_number" id="po_number" type="text" value="{{ po_number }}" class="" required /></td>
            </tr>
            <tr>
                <td><label for="funding_source">Funding Source:</label></td>
                <td><input name="funding_source" id="funding_source" type="text" value="{{ funding_source }}" class="" required /></td>
            </tr>
            <tr>
                <td><label for="manufacturer">Manufacturer:</label></td>
                <td><input name="manufacturer" id="manufacturer" type="text" value="{{ manufacturer }}" class="" required/></td>
            </tr>
            <tr>
                <td><label for="made_in">Made In:</label></td>
                <td>
                    <select name="made_in" id="made_in" required>
                        <option value="">Select Country</option>
                        {% for c in countries%}
                            <option value="{{c.id}}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="batch_number">Batch Number:</label></td>
                <td><input name="batch_number" id="batch_number" type="text" value="{{ batch_number }}" class="" /></td>
            </tr>
            <tr>
                <td><label for="nets_type">Nets Type:</label></td>
                <td>
                    <select>
                        <option value="">Select Nets Type</option>
                        <option value="Olyset">Olyset Net</option>
                        <option value="Olyset Plus">Olyset Plus</option>
                        <optiom value="PermaNet 2.0">PermaNet 2.0</option>
                        <option value="TBA">TBA</option>
                        <option value=""></option>
                    </select>
                    <!--<input name="nets_type" id="nets_type" type="text" value="{{ nets_type}}" class="" required/>-->
                </td>
            </tr>
            <tr>
                <td><label for="nets_color">Nets Color:</label></td>
                <td>
                    <select name="nets_color" id="nets_color" placeholder="Select Color">
                        <option value="">Select Nets Color</option>
                        {% for color in ('Blue', 'Green', 'White') %}
                            <option value="{{color}}" {% if color == nets_color %} selected="yes" {% endif%}>{{color}}</option>

                        {% endfor %}

                    </select>
                </td>
            </tr><tr>
                <td><label for="nets_size">Nets Size:</label></td>
                <td><input name="nets_size" id="nets_size" type="text" value="{{ nets_size }}" class="" /></td>
            </tr>
            <tr>
                <td><label for="quantity">Quantity (Bales):</label></td>
                <td><input name="quantity" id="quantity" type="number" value="0" class="" required/></td>
            </tr>
            <tr>
                <td><label for="waybill">Waybill:</label></td>
                <td><input name="waybill" id="waybill" type="text" value="{{waybill }}" class="" required /></td>
            </tr>
        </table>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td></td>
                <td>
                <table>
            <tr>
                <td><label for="warehouse">Warehouse Name:</label></td>
                <td><input name="warehouse" id="warehouse" type="text" value="{{ warehouse }}" class="" required/></td>
            </tr>
            <tr>
                <td><label for="sub_warehouse">Sub Warehouse:</label></td>
                <td><input name="sub_warehouse" id="sub_warehouse" type="text" value="{{ warehouse }}" class="" required/></td>
            </tr>
            <tr>
                <td><label for="entry_date">Date of Entry:</label></td>
                <td><input name="entry_date" id="entry_date" type="text" value="{{ entry_date }}" placeholder="YYYY-MM-DD" class="datefield" required/></td>
            </tr>
            <tr>
                <td><label for="nda_samples">NDA Samples:</label></td>
                <td><input name="nda_samples" id="nda_samples" type="number" value="{{ nda_samples }}" class="" required/></td>
            </tr>
            <tr>
                <td><label for="nda_sampling_date">Date of NDA Sampling:</label></td>
                <td><input name="nda_sampling_date" id="nda_sampling_date" type="text" value="{{ nda_sampling_date }}"
                    placeholder="YYYY-MM-DD" class="datefield" /></td>
            </tr>
            <tr>
                <td><label for="nda_conditional_release_date">Date of NDA Conditional Release:</label></td>
                <td><input name="nda_conditional_release_date" id="nda_conditional_release_date"
                    type="text" value="{{ nda_conditional_release_date}}" placeholder="YYYY-MM-DD" class="datefield"/></td>
            </tr>
            <tr>
                <td><label for="nda_testing_result_date">Date of NDA Testing Result:</label></td>
                <td><input name="nda_testing_result_date" id="nda_testing_result_date" type="text"
                    value="{{ nda_testing_result_date }}" placeholder="YYYY-MM-DD" class="datefield"/></td>
            </tr>
            <tr>
                <td><label for="unbs_sampling_date">Date of UNBS Sampling:</label></td>
                <td><input name="unbs_sampling_date" id="unbs_sampling_date" type="text" value="{{ unbs_sampling_date }}"
                    placeholder="YYYY-MM_DD" class="datefield" /></td>
            </tr>
            <tr>
                <td><label for="unbs_samples">UNBS Samples:</label></td>
                <td><input name="unbs_samples" id="unbs_samples" type="number" value="{{ unbs_samples }}" class="datefield"/></td>
            </tr>
             <tr>
                <td><label for="remarks">Remarks:</label></td>
                <td><textarea name="remarks" id="remarks" value="{{ remarks }}" class=""></textarea></td>
            </tr>

        </table>
                </td>
            </tr>
        </table>

        <div class="row">
                <div class="span4"></div>
                <div class="span4">
                <button type="submit" id="save" class="btn btn-primary">Save</button>
                </div>
                <div class="span4"></div>
        </div>

    </form>
    </fieldset>
    </div>
    <div id="confirm" class="modal hide fade">
        <div class="modal-body">
            Are you sure you want to delete warehouse log data?
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
            <button type="button" data-dismiss="modal" class="btn" id="cancel">Cancel</button>
        </div>
    </div>

    <div class="tab-pane " id="users">
        <table id="usertable" class="table table-condensed  table-striped table-bordered tablesorter">
                <thead>
                    <th>#</th>
                    <th>PO Number</th>
                    <th>Funding Source</th>
                    <th>Manufacturer</th>
                    <th>Made In</th>
                    <th>Quantity</th>
                    <th>Waybill</th>
                    <th>Warehouse</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for d in warehousedata %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ d.po_number }}</td>
                            <td>{{ d.funding_source }}</td>
                            <td>{{ d.manufacturer }}</td>
                            <td>{{ d.made_in }}</td>
                            <td>{{ d.quantity_bales }}</td>
                            <td>{{ d.waybill }}</td>
                            <td>{{ d.warehouse }}</td>
                            <td>
                                <a href="/warehousedata?ed={{ d.id }}" class="" value={{ d.id }}><i class="icon-edit"></i></a>
                                                    &nbsp;&nbsp;&nbsp;
                                <a href="/warehousedata?d_id={{ d.id }}&page={{ page }}" data-target="#confirm" class="gwe" value={{ d.id }}><i class="icon-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

        </table>
    </div>
{% endblock %}
{% block scripts%}
    {% call myscripts() %}
        <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/static/js/Buttons-1.1.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="/static/js/Buttons-1.1.2/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="/static/js/jszip.min.js"></script>
        <script type="text/javascript" src="/static/js/pdfmake.min.js"></script>
        <script type="text/javascript" src="/static/js/vfs_fonts.js"></script>
        <script type="text/javascript" src="/static/js/Buttons-1.1.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="/static/js/Buttons-1.1.2/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="/static/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#error_div').hide();
            $("#usertable").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $.datetimepicker.setLocale('en');
            $('#entry_date').datetimepicker({
                timepicker:false,
                format:'Y-m-d'
            });
            $('#nda_sampling_date').datetimepicker({
                timepicker:false,
                format:'Y-m-d'
            });
            $('#nda_conditional_release_date').datetimepicker({
                timepicker:false,
                format:'Y-m-d'
            });
            $('#unbs_sampling_date').datetimepicker({
                timepicker:false,
                format:'Y-m-d'
            });
            $('#nda_testing_result_date').datetimepicker({
                timepicker:false,
                format:'Y-m-d'
            });
            /* Check if waybill exist */
            $('#save').click(function(){
                val = $('#waybill').val()
                if(val == '')
                    val = 0;
                $.get(
                    '/api/v1/waybill/' + val,
                    {},
                    function(data){
                        if (data.err_msg.length > 0){
                            $('#text-error').html(data.err_msg);
                            $('#error_div').show();
                            return false;
                        }
                        else{
                            $('#text-error').html("We're all good!");
                            $('#error_div').show();
                        }
                    },
                    'json'
                );
                return;
            });

           $('.gwe').on('click', function(e){
                var link =$(this).attr('href');
                var tr = $(this).closest('tr')
                e.preventDefault();
                $('#confirm').modal({ backdrop: 'static', keyboard: false })
                    .one('click', '#delete', function() {
                        // $form.trigger('submit');
                        // tr.remove();
                        $(location).attr('href', link);
                    });
                    // .one() is NOT a typo of .on()
            });
        });
        </script>
    {% endcall %}
{% endblock %}
